@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
  
}

.link-header {
    
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233D;
    margin-right: 32px;
}

.button-header {
    
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    background: #6FBF44;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    color: #ffffff;
    border: none;

}

img {
    margin: 163px 0 0 121px;
    display: inline-block;

}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.5961538553237915px;
    color: #161A49;

}

p {
   
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color:#4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-learn-more {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    color: #6FBF44;
    background: transparent;
}

@media (max-width: 600px){
    div {
        height: 200px;
        width: 200px;

    }



}

