* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

.logo-mario {
    height: 200px;


}

.logo-2 {
    height: 500px;
        
}


.entre-em-contato  {
    color: #ffffff;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    
}

.pedir-orcamento {
    color: #ffffff;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.entre-em-contato:hover {
    opacity: 0.8;
    color: rgb(105, 23, 23);
    transition:  color 0.9;
}


body {
   
    height: 100vh;
    
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    
}

.caixa-mae {
    display: flex;
    height: 100vh;
    padding: 100px;
    align-items: center;
    justify-content: space-between;
}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: #ffffff;
}

.whatsapp {
    width: 50px;
    margin-right: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.whatsapp:hover {
    opacity: 0.8;
}

.header-1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    


}

.header-1 img {
    height: 60px;
}

.header-1 a {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.header-1 a:hover {
    opacity: 0.8;
    color: blue;
    transition: 0.9 color;
}

.formulario-fale-conosco {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    transform: translateX(-50%);
    transition: left 1s ease-in-out;
    
    
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;

}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

@media(max-width: 1100px) {

    p {
        display: none
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo-2 {
        width: 80vw;
        height: auto;
    }
    
    .header-1 {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-1 img {
        display: none;
    }

    .header-1 a {
        font-size: 20px;
    }

    .whatsapp {
        margin-right: 0;
    }


}

