* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-color: #8A51FC;
    font-family: "Roboto", serif;
}



body {
    background-color: #8A51FC;

}

.logo-money {
    width: 300px;
    margin: 20px auto;
    display: block;

}

main {
    width: 375px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;


}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: #ffffff;
    border:  1px solid;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

.convert-button {
    border-radius: 5px;
    width: 100%;
    height: 48px;
    background: #772FD3;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.convert-button:hover {
    opacity: 0.8;
}

.convert-button:active {
    opacity: 0.6;
}

section {
    margin-top: 36px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.arrow-img {
    margin:  15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color:#777777;
    font-size: 14px;


}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;

}
